@media only screen and (max-width: 900px) {
    .Main1{
        margin: 2% 5% 0% 5%;
        display: grid;
        grid-template-columns: 100%;
        gap: 40px;
        
    }
    .Main1{
        margin: 2% 5% 0% 5%;
        display: grid;
        grid-template-columns: 100%;
        gap: 10%;
    }
}